```{=html}
<%
// Group the items into categories
const categoryItems = {};
for (const item of items) {
  for (const category of item.categories) 
  {
    categoryItems[category] = categoryItems[category] || [];
    categoryItems[category].push(item);
   }
}
%>
<div class="list">
  <% 
  for (const category of Object.keys(categoryItems)) {
    const catItems = categoryItems[category];
  %>
    <!-- The category heading -->
    <h2><%- category %></h2>
    
    <% for (const item of catItems) { %>
      <!-- The item -->
      <div <%= metadataAttrs(item) %>>
        <h5 class="listing-title"><%- item.title %></h5>
        <div class="listing-categories">
          <% for (const cat of item.categories) {%>
            <div class="listing-category" onclick="window.quartoListingCategory('<%- cat %>'); return false;">
              <%- cat %>
            </div>
          <% } %>
        </div>
  
        <p class="quarto-title-authors listing-author">
          <%- item.author %>
        </p>
        <span class="listing-description">
          <%- item.description %>
        </span>
  
      </div>
    <% } %>
  <% } %>
</div>
```